/* 轮播 */
.vux-indicator i{width: .18rem !important; height: .18rem !important; background-color: white !important; opacity: .4; border-radius: 50% !important;}
.vux-indicator i.active{opacity: 1; background-color: white !important;}